<%= form_for @user do |f| %>
    
    <h1>Edit</h1>

    <%= f.label :email %>
    <%= f.text_field :email, placeholder: "Email" %><br>  

    <%= f.label :new_password %>
    <%= f.password_field :password, placeholder: "Password" %><br> 

    <%= f.label :new_password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %><br>

    <%= f.label :avatar %>
  	<%= f.file_field :avatar %><br>

 	<%= f.submit :"Update" %>

<% end %>  