<h2> The useless stuff that nobody cares that I don't even know why I even make this for app!!!</h2>

<% if @user.todos.count != 0 %>
	<table>
		<tr>
			<th>No.</th>
			<th>Image</th>
			<th>Description</th>
			<th>Status</th>
		</tr>
		<% current_user.todos.each_with_index do |t,index| %>
			<tr>
				<td><%= index + 1 %>.</td>
				<td>
				<% if t.image.present? %>
					<%= image_tag t.image.url(:thumb) %>
				<% else %>
					No image
				<% end %>
				</td>
				<td><%= t.description %></td>
				<td><%= t.status %></td>
				<% if t.Incomplete? %>
				<td><%= button_to "Complete", user_todo_path(@user, t, :status => :Complete ), :method => :put, remote: true,  data: { confirm: "I'm pretty sure you havent done it yet. But whatever, who's looking?" } %>
				<% end %>
				<td><%= link_to "Delete Todo", user_todo_path(@user, t), method: :delete, data: { confirm: "Are you sure?" }, remote: true %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	You have no Todos for now.
<% end %>

<%= link_to "New Todo", new_user_todo_path %><br>
<% if @user.Admin? %>
	<%= link_to "Admin Page", admin_index_path %><br>
<% else %>
	<%= link_to "User Page", users_path %><br>
<% end %>
<%= link_to "Sign Out", sign_out_path, method: :delete %>