<h2> Create Your Not Todo </h2>

<%= form_for @todo, url: user_todos_path do |f| %>
	
	<%= f.label :image %>
	<%= f.file_field :image %>
	
	<%= f.label :description %>
	<%= f.text_field :description, placeholder: "Description" %>
	
	<%= f.submit "Add Not Todo" %>


<% end %>

<h4>When you create a Not Todo, a puppy dies. -Nicholas OWH, Mentor of NEXT Academy</h4>
